<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <a href="https://github.com/luizantoniojr/poc_vue_webpack_aspnet461">Git</a></p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
<script type="text/javascript" src="/dist/bundle.js"></script></body>
</html>
