@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vue + Webpack + ASP.NET</h1>
    <p class="lead">Esta aplicação é um exemplo de como usar Vue com Webpack e ASP.NET</p>
</div>

<div class="row">
   
</div>